// 2019-05-30
// "Implement a business customer registration form"
// https://github.com/kingpalm-com/b2b/issues/1
// https://www.upwork.com/ab/f/contracts/22250754
.kingpalm-b2b-registration {
	.df-field {
		&:not(:first-child) {margin-top: 0.5em;}
		input {
			&[type=checkbox] {
				position: relative; top: 1px;
				& + label.addafter {margin-left: 0.5em;}
			}
			&.df-number {
				text-align: center;
				width: 4em;
			}
		}
		select {width: 100%;}
	}
}